

@media (max-width: 999px) {
    .btn-1{
        display: none;
    }
    a{
        font-size: 19px;
    }
    body{
        overflow-x: hidden;
    }
    nav {
        height: 12vh;
    }
    .nav-links{
        position: absolute;
        top:12vh;
        right: 0;
        flex-direction: column;
        background: #1E1E1E;
        width: 100%;
        max-height: 0;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        gap:0.2rem;
        z-index: 5;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }  
    .nav-links.open{
        max-height: 300px;
    }
    .nav-links a {
        display: block;
        padding: 15px;
        text-align: center;
        font-size: 1.2rem;
        color: rgb(255, 255, 255);
    }

  
    .logo{
        position: relative;
        left: -2rem
    }
 
    .logo img{
        height: 55px;
    }
    .mobile-menu{
        display: flex;
        position: absolute;
        overflow: visible; 
        z-index: 10;
        right: 2rem;
    }
     /* seção Home */
     #home {
        background-position: 60% center;
    }
    .section-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .text-container {
        position: static;
        margin-top: 2rem;
        padding: 0 2rem;
    }
    h1 {
        font-size: 3rem;
        line-height: 1.2;
    }
    .p1-text {
        margin-top: 1.5rem;
    }
    .p1-color {
        font-size: 1rem;
        text-align: justify;
    }

    
    .btn-2 {
        position: static;
        margin-top: 2rem;
    }
/* Seção Sobre */
#sobre {
    height: auto;
    padding: 4rem 0;
}
.section-container-2{
    margin-top: 2rem;
}
.pic-text {
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 0 2rem;
}
.imagem-sobre img{
    height: 50vh;
}
.texto-sobre, .imagem-sobre {
    width: 80%;
}

.texto-sobre p {
    font-size: 1rem;
}

.text-about h2 {
    font-size: 2rem;
}

/* formas */
.forma-1,
.forma-2,
.forma-3,
.forma-4{
    position: absolute;
    width: clamp(150px, 25vw, 250px);
    height: auto;

}


.forma-1 {
    right: -5%;
    top: -45%;
    transform: rotate(-25deg);

}

.forma-2 {
    left: -5%;
    top: -50%;
    transform: rotate(30deg);

}

.forma-3 {
    left: -2%;
    bottom: -47%;


}

.forma-4 {
    right: -5%;
    bottom: -30%;
    
}

/* Seção Planos */

    .plano-card{
       height: 400px;
       flex: 0 0 300px;
    }
    .plano-card:hover {
        transform: none;
    }
    .planos-container {
        overflow-x: hidden; /* Remove o scroll horizontal */
        flex-wrap: wrap; /* Quebra os cards em várias linhas se necessário */
        justify-content: center; /* Centraliza os cards */
        padding: 20px; /* Ajuste no padding */
    }
    
    .card-bottom {
        top: 1rem;
        gap: 1rem;
    }
    
    .btn-3 {
        top: 2rem;
        margin-bottom: 3rem;
    }
    /* Seção Contato */
    #contato {
        height: auto;
        padding: 4rem 0;
    }
    
    .contact-info-upper-container {
        flex-direction: column;
        width: 90%;
    }
    
    .contact-info-container {
        margin: 0.5rem;
    }
    
    /* Footer */
    footer {
        padding: 1rem 0;
    }
}
