/* geral */



@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--neutrals-background-neturals-neutral-color-500, #BDBDBD);
}

.title {
    font-weight: bold;
}

h1 {
    color: var(--neutrals-background-neturals-neutral-color-400, #E0E0E0);
    font-size: 72px;
    font-weight: 700;
    line-height: 110%;
}

* {
    margin: 0;
    padding: 0;
}

/* transição */
a,
.btn {
    transition: all 300ms ease;
}

/* nav-bar */
nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 18vh;
    background: #1E1E1E;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in;

}

.nav-links.active {
    transform: translateX(0);
}

a {
    color: rgba(255, 255, 255, 0.822);
    text-decoration: none;
    font-style: normal;
    text-decoration-color: white;
}

a:hover {
    color: #ffffff;
}

/* button */
.btn-container {
    justify-content: center;

}

.btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    font-weight: 600;
}

.btn-1 {
    border: rgb(179, 179, 179) 0.1rem solid;
    background: rgba(255, 255, 255, 0.822);

}

.btn-1:hover {
    cursor: pointer;
    background: rgb(252, 252, 252);

}

/* logo */
.logo {
    justify-content: center;
}

.logo:hover {
    cursor: default;
}

.logo img {
    height: 90px;
}


/* mobile-menu */
.mobile-menu {

    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    right: 2rem;
}

.mobile-menu span {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.mobile-menu.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);

}

.mobile-menu.open span:nth-child(2) {
    opacity: 0;
}

.mobile-menu.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.mobile-menu span:first-child {
    transform: none;
}

.mobile-menu span:first-child {

    opacity: 1;
}

.mobile-menu span:first-child {
    transform: none;
}

/* seções */

.section-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.section__text {
    align-self: center;
    text-align: center;
}

/* seção home */

#home {
    background-image: url('./assets/background-pic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.text-container {
    position: relative;
    left: 27.5rem;
    top: -7rem
}

.p1-text {
    margin-top: 1.2rem;
    text-align: center;
    line-height: 1.2;
}

.p1-color {
    color: var(--neutrals-background-neturals-neutral-color-500, #BDBDBD);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: justify;
}

.btn-2 {
    position: relative;
    top: 8vh;
    left: -4rem
}

/* seção sobre nos */

#sobre {
    background-color: rgb(17, 17, 17);
    height: 100vh;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.forma-1,
.forma-2,
.forma-3,
.forma-4,
.forma-4-1,
.forma-3-1 {
    position: absolute;
}


.forma-1 {
    right: 0;
    top: -34vh;
    transform: rotate(-25deg);

}

.forma-2 {
    left: 0;
    top: -33vh;
    transform: rotate(30deg);

}

.forma-3 {
    left: 0;
    bottom: -20vh;



}

.forma-4 {
    right: 0;
    bottom: -20vh;

}


.section__text {
    text-align: center;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
}

.p2-color {
    color: var(--neutrals-background-neturals-neutral-color-500, #BDBDBD);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.75rem;
    color: #ffffff;
}

.section-container-2 {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    width: 100%;
    justify-content: center;
    position: relative;
}

.conteudo-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.pic-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.texto-sobre {
    width: 50%;
    max-width: 460px;
}

.imagem-sobre {
    width: 50%;
    display: flex;
    justify-content: center;
}

.texto-sobre p {
    color: white;
    font-weight: 300;
    line-height: 150%;
    font-size: 20px;
    text-align: justify;
}

.text-about {
    text-align: center;
    width: 100%;
    margin-top: 2.5rem;

}

.text-about h2 {
    font-size: 40px;
}

.text-about .title-2 {
    position: relative;
    display: inline-block;
    color: #ffffff;
    padding: 0 40px;
}

.text-about .title-2::before,
.text-about .title-2::after {
    content: '"';
    color: #FDDB3A;
    font-size: 2.5rem;
    position: absolute;

    transform: translate(-50%);
    font-family: serif;
}

.text-about .title-2::before {
    left: 1.2rem;
}

.text-about .title-2::after {
    right: 0;
}

/* planos */

#planos {
    background-color: rgb(17, 17, 17);
    min-height: 100vh;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.centro {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.planos-container {
    height: auto;
    display: flex;
    width: 87vw;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 20px 0 20px 20px;
    scroll-padding: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    user-select: none;
}
.planos-container::-webkit-scrollbar {
    display: none;
}
.planos-container.active {
    user-select: none;
}

.plano-card {
    flex: 0 0 390px;
    background: #111;
    height: 480px;
    border-radius: 10px;
    padding: 0px;
    border: 1px solid #FDDB3A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
}

.plano-card h3 {
    color: #ffffff;
    font-size: 1.5rem;
}

.preco {
    font-size: 2rem;
    color: #0084E9;
    margin: 15px 0;
}

.plano-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.plano-card hr {
    margin: 0;
    border: none;
    height: 1px;
    background-color: #FDDB3A;
    width: 100%;
}

.card-top,
.card-bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.forma-3-1 {
    left: 0;
    top: -33.2vh;
}

.forma-4-1 {
    right: 0;
    top: -30.2vh;

}

.plano-branco {
    color: #E0E0E0;
}

.amarelo {
    font-weight: 400;
    color: #FDDB3A;
}

.card-bottom {
    position: relative;
    top: 2rem;
    gap: 2rem;
}

.btn-3{
    position: relative;
    top: 5rem;
    padding: 16px 54px;
    background-color:#FDDB3A;
    gap: 10px;
    font-size: 17px;
    font-weight: 600;
}

.btn-3:hover {
    cursor: pointer;
    background: #f5d11d;

}

/* contato */